<!DOCTYPE html>
<html lang="es">
     <head>
          <meta charset="UTF-8">
          <title>Tp3 Proyecto Spring boot Html</title>
          <style>
               table {
                   border-collapse: collapse;
               }
               
               table, th, td {
                   border: 1px solid black;
               }
          </style>
     </head>
     
     <body>
     
         <!-- Aqui se define el encabezado y título -->     
         
         <header>
              <h1>Bienvenido Alumno</h1>
         </header>
         
         <!-- Aqui se agrega el menu de navegación -->
         
         <nav>
            <ul>
              <li><a href="https://www.fi.unju.edu.ar">Fi Unju</a></li>
              <li><a href="https://virtual.unju.edu.ar/">Unju Virtual</a></li>
              <li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Unju Programación Visual</a></li>
            </ul>
         </nav>
         
         <!-- Aqui se agrega el contenido principal divido en 3 secciones -->
         
         <main>
         
             <!-- PRIMERA SECCION -->
         
             <section id="Seccion_Profesores_de_la_materia">
                    <h2> Analista Programador Universitario </h2>  
                    <p>Materia: PROGRAMACIÓN VISUAL - 2do AÑO - 1er CUATRIMESTRE</p>     
                    <h3>Seccion: Docentes</h3>
                    <ol>
                       <li>Mg. Ing.: Vega Ariel</li>
                       <li>Prof Adj Ded. Simple Mg. Ing: Sosa Gustavo</li>
                       <li>JTP Ded. Simple: Ing.: Apaza Carolina</li>
                       <li>Ayu. Primera Ded. Simple: Rodriguez Juan Carlos</li>
                    </ol>
             </section>
             
             <!-- SEGUNDA SECCION -->
             
             <section id="Seccion2_Horarios_de_la_materia">
                    <h2> Analista Programador Universitario </h2>  
                    <p>Materia: PROGRAMACIÓN VISUAL - 2do AÑO - 1er CUATRIMESTRE</p>
                    <h3>Seccion: Horarios</h3>
                    <table>
                    <tr>
                       <th>Comisión</th>
                       <th>Día y Hora</th>
                       <th>Modalidad</th>
                    </tr>
                    <tr>
                       <td>Teoría única</td>
                       <td>Miércoles: 14 a 17 hs</td>
                       <td>Virtual</td>
                    </tr>
                    <tr>
                       <td>Comisión 1 Práctica</td>
                       <td>Lunes: 18 a 21 hs</td>
                       <td>Virtual</td>
                    </tr>
                    <tr>
                       <td>Comisión 2 Práctica</td>
                       <td>Jueves: 14 a 17 hs</td>
                       <td>Virtual</td>
                    </tr>
                    <tr>
                       <td>Comisión 3 Práctica</td>
                       <td>Viernes: 18 a 21 hs</td>
                       <td>Virtual</td>
                    </tr>
                    </table>
             </section>
             
             <!-- TERCERA SECCION -->
             
             <section id="Seccion3_Horarios_de_la_materia">
                    <h2> Analista Programador Universitario </h2>  
                    <p>Materia: PROGRAMACIÓN VISUAL - 2do AÑO - 1er CUATRIMESTRE</p>
                    <h3>Seccion: Programa</h3>
                    <ol>
                       <li>UNIDAD I: Lenguaje Java</li>
                       <li>UNIDAD II: Introducción a Spring Boot</li>
                       <li>UNIDAD III: Gestión de Dependencias y Versionamiento</li>
                       <li>UNIDAD IV: Spring Boot MVC</li>
                       <li>UNIDAD V: Clases de negocio</li>
                       <li>UNIDAD VI: Persistencia de Objetos</li>
                       <li>UNIDAD VII: Manejo de formularios</li>
                    </ol>
             </section>
         </main>
         
         <!-- Aqui se agrega el Contenido Adicional -->
         
         <aside>
              <h3>Contenido para dirigir a la pagina de STS4</h3>
              <ul>
                 <li><a href="https://spring.io/tools">Enlace a STS4</a></li>
              </ul>
              <img alt="Logo de Spring Tool Suite 4" src="../static/images/imagenTP3.png">
         </aside>
         
         <!-- Aqui se agrega un Pie de Página -->
         
         <footer>
                <h3>Información de contacto de la Facultad de Ingenieria - UNJu</h3>
                <p>Correo electrónico:</p>
                <ul>
                   <li>info@fi.unju.edu.ar</li>
                </ul>
                <p>Redes sociales:</p>
                <ul>
                   <li><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
                   <li><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
                   <li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">LinkedIn</a></li>
                   <li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a></li>
                </ul>
         </footer>
     </body>
</html>

